@import url('https://fonts.googleapis.com/css2?family=Open+Sans&family=PT+Sans+Narrow&family=Raleway:wght@100&family=Roboto+Condensed&display=swap');

* {
    box-sizing: border-box;
    margin    : 0;
    padding   : 0;
}

body {
    font-family: 'PT Sans Narrow', sans-serif;
}

header {
    padding : 1%;
    position: fixed;
    width   : 100%;
}

.container-links {
    display        : flex;
    justify-content: space-between;
}

.container-links__direita {
    display        : flex;
    flex-direction : row;
    justify-content: space-between;
}

.container-links__direita h1 {
    background: #ff1a1a;
    color     : #ffffff;
    padding   : 2%;
    min-width : 200px;
    text-align: center;
}

.container-links a {
    text-decoration: none;
    text-transform : uppercase;
    color          : #ffffff;
}

.container-links a:hover {
    color      : #e60000;
    cursor     : pointer;
    font-weight: bold;
}

.container-links__direita .dropdown {
    padding  : 5% 0 0 5%;
    min-width: 150px;
    position : relative;
    display  : inline-block;
}

.container-links__direita .dropdown-content {
    position        : absolute;
    background-color: #ffffff;
    display         : none;
    min-width       : 160px;
    z-index         : 1;
}

.container-links__direita .dropdown-content a {
    display    : block;
    padding    : 5% 10%;
    font-size  : 0.9em;
    font-weight: bold;
    color      : #000000;
}

.container-links__direita .dropdown-content a:hover {
    background-color: #e60000;
}

.container-links__direita .dropdown:hover .dropdown-content {
    display: block;
}

.container-links__esquerda {
    width: 50%;
}

.container-links__esquerda .links-topo {
    padding   : 2%;
    text-align: right;
}

.container-links__esquerda .links-topo a {
    margin     : 1%;
    font-size  : 0.9em;
    font-weight: bold;
}

.container-principal {
    background     : url("../assets/img/hotel_01.jpg") no-repeat center;
    background-size: cover;
    height         : 720px;
}

.container-principal__textos {
    padding-left: 1%;
    color       : #ffffff;
    position    : absolute;
    bottom      : 0;
}

.container-principal__textos h2 {
    font-size: 6.25em;
}

.container-principal__textos p {
    font-size: 1.25em;
}

.container-hotel {
    display       : flex;
    flex-direction: row;
}

.container-hotel__textos {
    color  : #ff1a1a;
    width  : 30%;
    padding: 0 1%;
}

.container-hotel__textos h3 {
    font-size : 5em;
    text-align: left;
}

.container-hotel__textos p {
    text-align   : justify;
    margin-bottom: 5%;
}

.container-hotel__textos span {
    font-weight: bold;
}

.container-hotel__img {
    width: 70%;
}

.container-hotel__img img {
    width: 100%;
}

.container-residencias {
    margin-top    : 1%;
    display       : flex;
    flex-direction: column;
}

.container-residencias__textos {
    color     : #ff1a1a;
    text-align: center;
    padding   : 3%;
}

.container-residencias__textos h3 {
    font-size: 3em;
}

.container-residencias__textos p {
    font-size : 1.2em;
    margin-top: 1%;
}

.container-residencias__imgs {
    display        : flex;
    flex-direction : row;
    justify-content: space-around;
}

.container-residencias__imgs-card {
    display  : flex;
    flex-flow: column wrap;
}

.container-residencias__imgs-card a {
    text-decoration: none;
    padding        : 2%;
    text-align     : center;
    color          : #ff1a1a;
    font-size      : 1.1em;
    border         : 1px solid #ff1a1a;
}

.container-residencias__imgs-card a:hover {
    background-color: #ff1a1a;
    color           : #ffffff;
}

.container-residencias__imgs-card img {
    width: 450px;
}

.container-restaurantes {
    margin-top    : 5%;
    display       : flex;
    flex-direction: column;
    color         : #ff1a1a;
}

.container-restaurantes h3 {
    font-size    : 5em;
    color        : #ff1a1a;
    margin-bottom: 5%;
    padding-left : 1%;
}

.container-restaurantes__opcoes {
    display       : flex;
    flex-direction: row;
    margin-bottom : 3%;
}

.container-restaurantes__textos {
    padding    : 1% 1% 1% 0;
    text-align : left;
    width      : 50%;
    margin-left: 2%;
}

.container-restaurantes__textos span {
    font-weight: bold;
    line-height: 25px;
}

.sessao-restaurantes__titulos {
    font-size    : 2em;
    margin-bottom: 4%;
    font-weight  : bold;
}

.container-restaurantes__paragrafos {
    text-align   : justify;
    margin-bottom: 5%;
}

.container-restaurantes__links {
    text-decoration : none;
    color           : #ff1a1a;
    background-color: #ffffff;
    border          : 1px solid #e60000;
    padding         : 1%;
    box-shadow      : 5px 5px;
}

.container-restaurantes__links:hover {
    background-color: #e60000;
    color           : #ffffff;
    box-shadow      : 5px 5px;
}

.container-restaurantes__imgs img {
    width: 100%;
}

.container-entretenimento {
    margin-top    : 2%;
    display       : flex;
    flex-direction: column;
}

.container-entretenimento__opcoes {
    display         : flex;
    flex-direction  : row;
    background-color: #ff1a1a;
}

.container-entretenimento__textos {
    color: #ffffff;
}

.container-entretenimento__textos h4 {
    font-size: 4.5em;
    padding  : 2% 1% 0 1%;
}

.container-entretenimento__textos p {
    text-align: justify;
    margin    : 2% 0 3% 0;
    padding   : 2%;
}

.container-entretenimento__textos .link-btn {
    margin: 2%;
}

.container-entretenimento__textos ul {
    list-style-type: none;
    margin-top     : 10%;
}

.container-entretenimento__textos ul li a {
    text-decoration: none;
    font-size      : 1.5em;
    color          : #ffffff;
    display        : inline-block;
    width          : 100%;
}

.container-entretenimento__textos ul li {
    padding      : 15px;
    cursor       : pointer;
    border-bottom: 1px solid #ffffff;
}

.container-entretenimento__textos ul li:hover {
    background-color: #ffffff;
}

.container-entretenimento__textos ul li a:hover {
    color: #e60000;

}

.container-entretenimento__textos ul .ativo {
    background-color: #ffffff;
    padding         : 15px;
}

.container-entretenimento__textos ul .ativo a {
    color: #e60000;
}

.container-entretenimento__opcoes-spa {
    display         : flex;
    flex-direction  : row;
    background-color: #cccc00;
}

.container-entretenimento__textos-spa {
    color: #ffffff;
}

.container-entretenimento__textos-spa h4 {
    font-size: 4.5em;
    padding  : 2% 1% 0 1%;
}

.container-entretenimento__textos-spa p {
    text-align: justify;
    margin    : 2% 0 3% 0;
    padding   : 2%;
}

.container-entretenimento__textos-spa ul {
    list-style-type: none;
    margin-top     : 10%;
}

.container-entretenimento__textos-spa ul li a {
    text-decoration: none;
    font-size      : 1.5em;
    color          : #ffffff;
    display        : inline-block;
    width          : 100%;
}

.container-entretenimento__textos-spa ul li {
    padding      : 15px;
    cursor       : pointer;
    border-bottom: 1px solid #cccc00;
}

.container-entretenimento__links {
    text-decoration : none;
    color           : #cccc00;
    background-color: #ffffff;
    border          : 1px solid #cccc00;
    padding         : 1%;
    box-shadow      : 5px 5px;
    margin-left     : 2%;
}

.container-entretenimento__links:hover {
    background-color: #cccc00;
    color           : #ffffff;
    box-shadow      : 5px 5px;
}

.container-entretenimento__opcoes-spa .link-spa {
    background-color: #ffffff;
}

.container-entretenimento__opcoes-spa .link-spa a {
    color: #cccc00;
}

.container-entretenimento__opcoes-spa .link-spa:hover {
    background-color: #cccc00;
}

.container-entretenimento__opcoes-spa .link-spa a:hover {
    color: #ffffff;
}

.container-localizacao {
    margin-top: 2%;
    text-align: center;
    color     : #ffffff;
}

.container-localizacao__fundo {
    background     : url(/assets/img/seaplane.jpg) no-repeat center;
    background-size: cover;
    height         : 350px;
}

.container-localizacao__fundo h3 {
    text-transform: uppercase;
    padding-top   : 10%;
    font-size     : 2.5em;
}

.container-localizacao__fundo p {
    font-size: 1.2em;
}

.container-localizacao__mapa {
    margin-top: 2%;
}

.container-localizacao__mapa img {
    width : 100%;
    height: 420px;
}

.container-localizacao-contato {
    border-top    : 1px solid #bfbfbf;
    border-bottom : 1px solid #bfbfbf;
    margin-top    : 2%;
    display       : flex;
    flex-direction: column;
    padding       : 2%;
}

.container-localizacao-contato a:first-child {
    text-transform: uppercase;
}

.container-localizacao-contato a {
    text-decoration: none;
    color          : #000000;
}

.container-localizacao__contato-img {
    margin-top: 1%;
}

.container-localizacao__contato-img img {
    width : 16px;
    height: 16px;
}

.container-localizacao-cadastro {
    margin    : 1% auto;
    width     : 70%;
    text-align: left;
    padding   : 1%;
}

.container-localizacao-cadastro p:first-child {
    color        : #e60000;
    font-size    : 1.8em;
    margin-bottom: 1%;
}

.container-localizacao-cadastro p,
label {
    color        : #000000;
    text-align   : justify;
    line-height  : 25px;
    margin-bottom: 2%;
}

.container-localizacao-cadastro input {
    width        : 100%;
    padding      : 2%;
    border       : none;
    border-bottom: 1px solid #e60000;
    color        : #e60000;
    font-size    : 1em;
    margin-bottom: 1%;
}

.container-localizacao-cadastro input::placeholder {
    color: #e60000;
}

.container-localizacao-cadastro select {
    width        : 33%;
    padding      : 1%;
    border       : none;
    border-bottom: 1px solid #e60000;
    color        : #e60000;
}

.container-cadastro__textos {
    margin: 1% 0 2% 0;
}

.container-cadastro__textos p {
    color    : #000000 !important;
    font-size: 0.8em !important;
}

footer {
    background-color: #e60000;
    color           : #ffffff;
    text-align      : center;
    padding         : 3%;
}

.container-rodape-links {
    padding: 1%;
}

.container-rodape-links a {
    padding-right  : 1%;
    text-transform : uppercase;
    text-decoration: none;
    color          : #ffffff;
}

footer p {
    font-size: 0.8em;
}