@use "../global/colors";

.container {
   margin   : 0 auto;
   max-width: 1200px;
   width    : 100%;
}

.active {
   background: map-get($map: colors.$color-palette, $key: alert-red);
   color     : map-get($map: colors.$color-palette, $key: pure-white) !important;
}

.open-dropdown {
   display: block;
}

.red-bg {
   background: map-get($map: colors.$color-palette, $key: alert-red);

   .sidemenu-section__list {
      li {
         border-top-color: map-get($map: colors.$color-palette, $key: pure-white);
      }

      a {
         &:hover {
            background-color: map-get($map: colors.$color-palette, $key: pure-white);
            color           : map-get($map: colors.$color-palette, $key: alert-red);
         }

         i {
            color: map-get($map: colors.$color-palette, $key: alert-red);
         }
      }
   }
}

.yellow-bg {
   background: map-get($map: colors.$color-palette, $key: sun-yellow);

   .sidemenu-section__list {

      li {
         border-top-color: map-get($map: colors.$color-palette, $key: sun-yellow);
      }

      a {
         background-color: map-get($map: colors.$color-palette, $key: pure-white);
         color           : map-get($map: colors.$color-palette, $key: sun-yellow);

         &:hover {
            background-color: map-get($map: colors.$color-palette, $key: sun-yellow);
            color           : map-get($map: colors.$color-palette, $key: pure-white);
         }

         i {
            color: map-get($map: colors.$color-palette, $key: pure-white);
         }
      }
   }
}