@mixin display-flex($align-items, $justify-content) {
    align-items    : $align-items;
    display        : flex;
    justify-content: $justify-content;
}

@mixin display-grid($grid-template-columns) {
    display              : grid;
    grid-template-columns: $grid-template-columns;
}

@mixin font-styles($font-color, $font-weight, $line-height, $letter-spacing) {
    color         : $font-color;
    font-weight   : $font-weight;
    line-height   : $line-height;
    letter-spacing: $letter-spacing;
}