@use "../global/mixins";
@use "../global/colors";
@use "../util/queries";
@use "../global/typography";

.menu-bugger {
    background   : transparent;
    border       : none;
    color        : inherit;
    cursor       : pointer;
    display      : none;
    min-height   : 28px;
    padding-left : 0;
    padding-right: 0;
    transition   : .3 ease-in-out;

    @include queries.devices-t-and-m() {
        @include mixins.display-flex(center, center);
    }

    &:focus {
        outline: none;
    }

    &__bars {
        background: map-get($map: colors.$color-palette, $key: alert-red);
        display   : block;
        height    : 3px;
        position  : relative;
        transition: .3s ease-in-out;
        width     : 33px;

        &::before,
        &::after {
            background: map-get($map: colors.$color-palette, $key: alert-red);
            content   : "";
            display   : block;
            height    : 100%;
            left      : 0;
            position  : absolute;
            transition: .3s ease-in-out;
            width     : 100%;
        }

        &::before {
            transform: translate(0, -12px);
        }

        &::after {
            transform: translate(0, 12px);
        }
    }
}

.menu-open {
    .menu-bugger__bars {
        background: transparent;

        &::before {
            transform: rotate(45deg);
        }

        &::after {
            transform: rotate(-45deg);
        }
    }
}

.visually-hidden {
    @include typography.typography-title(18);
    color       : map-get($map: colors.$color-palette, $key: pure-white);
    font-size   : 1.125rem;
    font-weight : 700;
    line-height : 1;
    margin-right: 10px;
}