@use "../global/colors";
@use "../global/typography";
@use "../global/mixins";
@use "../animations/animations";
@use "../util/queries";

.circle-button {
    @include typography.typography-text(14);
    @include mixins.display-flex(center, center);
    @include animations.heartbeat();
    background-color: map-get($map: colors.$color-palette, $key: alert-red);
    color           : map-get($map: colors.$color-palette, $key: pure-white);
    border-radius   : 50%;
    border          : 2px solid map-get($map: colors.$color-palette, $key: pure-white);
    bottom          : 20px;
    font-weight     : 500;
    height          : 75px;
    position        : fixed;
    right           : 16px;
    transition      : .3s ease-in-out;
    text-align      : center;
    text-transform  : uppercase;
    width           : 75px;
    z-index         : 99999;

    @include queries.devices-t-and-m() {
        @include typography.typography-text(12);
        height: 50px;
        width : 50px;
    }
}

%button-default {
    @include typography.typography-text(16);
    display       : inline-block;
    font-weight   : 600;
    letter-spacing: -0.45px;
    line-height   : 1.25;
    padding       : 6px 12px;
    text-align    : center;
    transition    : .3s ease-in-out;
    text-transform: capitalize;
}

%button-red {
    background-color: map-get($map: colors.$color-palette, $key: pure-white);
    border          : 1px solid map-get($map: colors.$color-palette, $key: alert-red);
    box-shadow      : map-get($map: colors.$color-palette, $key: alert-red) 3.75px 3.75px 0px 0px;
    color           : map-get($map: colors.$color-palette, $key: alert-red);

    &:hover {
        background-color: map-get($map: colors.$color-palette, $key: alert-red);
        box-shadow      : map-get($map: colors.$color-palette, $key: pure-white) 3.75px 3.75px 0px 0px;
        border-color    : map-get($map: colors.$color-palette, $key: pure-white);
        color           : map-get($map: colors.$color-palette, $key: pure-white);
    }
}

%button-yellow {
    background-color: map-get($map: colors.$color-palette, $key: sun-yellow);
    border          : 1px solid map-get($map: colors.$color-palette, $key: pure-white);
    box-shadow      : map-get($map: colors.$color-palette, $key: pure-white) 3.75px 3.75px 0px 0px;
    color           : map-get($map: colors.$color-palette, $key: pure-white);

    &:hover {
        background-color: map-get($map: colors.$color-palette, $key: pure-white);
        box-shadow      : map-get($map: colors.$color-palette, $key: sun-yellow) 3.75px 3.75px 0px 0px;
        border-color    : map-get($map: colors.$color-palette, $key: sun-yellow);
        color           : map-get($map: colors.$color-palette, $key: sun-yellow);
    }
}