@use "../global/colors";
@use "../global/mixins";

.carousel {
    position: relative;

    &__item {
        background-color: map-get($map: colors.$color-palette, $key: pure-white);
        inset           : 0;
        opacity         : 0;
        position        : absolute;
        transition      : 1s ease-in-out;
        width           : 100%;
    }

    &__bullets {
        @include mixins.display-flex(center, start);
        bottom      : 30px;
        gap         : 5px;
        padding-left: 1rem;
        position    : absolute;

        &-single {
            border       : 1px solid map-get($map: colors.$color-palette, $key: alert-red);
            border-radius: 50%;
            cursor       : pointer;
            height       : 10px;
            transition   : .3s ease-in-out;
            width        : 10px;
        }
    }
}

.carousel-reviews {
    height  : 100%;
    overflow: hidden;

    .carousel__item {
        height: 100%;
    }
}

.carousel__images {
    height: 500px;

    &-image {
        height  : 100%;
        position: absolute;
        width   : 100%;

        img {
            height    : 100%;
            object-fit: cover;
            width     : 100%;
        }
    }

    .carousel__bullets {
        bottom         : 10px;
        justify-content: center;
        width          : 100%;
    }
}

.active-bullet {
    background-color: map-get($map: colors.$color-palette, $key: alert-red);
}