body {
    font-family: 'PT Sans Narrow', sans-serif;
}

.caixa-alta {
    text-transform: uppercase;
}

a {
    text-decoration: none;
}

.links {
    color: var(--white);
    font-weight: 700;
    letter-spacing: -0.45px;
    line-height: 16px;
    padding: 7.5px;
    text-align: left;
}

.links:hover {
    color: var(--red);
}