html {
    scroll-behavior: smooth;
}

body {
    font-family: 'Inter', sans-serif;
}

.caixa-alta {
    text-transform: uppercase;
}

a {
    text-decoration: none;
}

.links {
    color: var(--white);
    font-size: 0.95rem;
    font-weight: 500;
    letter-spacing: var(--espacameto-letras);
    line-height: 16px;
    padding: 7.5px;
    text-align: left;
    transition: .3s;
}

.links:hover {
    color: var(--red);
}

.selecionado {
    background-color: var(--red);
}

.circulos {
    align-items: center;
    display: flex;
    gap: 5px;
    margin-top: 10px;
}

.circulos li:first-of-type,
.circulos li:last-of-type {
    color: var(--red);
    font-size: 2rem;
    font-weight: 700;
}

.circulos .circulo {
    border-radius: 50%;
    border: 1px solid var(--red);
    cursor: pointer;
    height: 12px;
    width: 12px;
}

.circulos .circulo:nth-child(1) {
    background-color: var(--red);
}

.circulo:hover {
    background-color: rgba(238, 35, 35, 0.742);
}

.btn-padrao {
    font-size: 0.917rem;
    font-weight: 600;
    letter-spacing: var(--espacameto-letras);
    line-height: 19.5px;
    padding: 5px 11px;
    text-align: center;
    transition: .3s;
}

.btn-padrao-red {
    color: var(--red);
    background-color: var(--white);
    border: 1px solid var(--red);
    box-shadow: var(--red) 3.75px 3.75px 0px 0px;
}

.btn-padrao-red:hover {
    background-color: var(--red);
    color: var(--white);
    box-shadow: var(--white) 3.75px 3.75px 0px 0px;
}

.btn-padrao-yellow {
    color: var(--white);
    background-color: var(--yellow);
    border: 1px solid var(--white);
    box-shadow: var(--white) 3.75px 3.75px 0px 0px;
}

.btn-padrao-yellow:hover {
    background-color: var(--white);
    color: var(--yellow);
    box-shadow: var(--yellow) 3.75px 3.75px 0px 0px;
}

.container {
    display: flex;
    flex-wrap: wrap;
    margin: 45px 0;
}

.container .container-esquerda {
    display: flex;
    flex: 1;
    flex-direction: column;
    justify-content: space-between;
}

.container-red {
    background-color: var(--red);
}

.container-yellow {
    background-color: var(--yellow);
}

.container-white {
    background-color: var(--white);
}

.container-texto {
    padding: 15px;
}

.container-texto h2 {
    color: var(--white);
    font-size: 5rem;
    font-weight: 600;
    letter-spacing: var(--espacameto-letras);
    margin-bottom: 7.5px;
    text-align: left;
}

.container-texto p {
    color: var(--white);
    font-size: 0.937rem;
    font-weight: 500;
    line-height: 19.5px;
    margin-bottom: 30px;
    text-align: left;
}

.container-menu a {
    align-items: center;
    border-color: var(--white);
    border-style: solid none;
    border-width: 1px 0px;
    color: var(--white);
    cursor: pointer;
    display: flex;
    flex-basis: 100%;
    font-size: 1.26rem;
    font-weight: 500;
    letter-spacing: -0.73125px;
    line-height: 24.375px;
    justify-content: space-between;
    margin-bottom: -1px;
    padding: 13px 15px;
    transition: .3s;
    text-align: left;
    transition: .3s;
}

.container-menu a:hover {
    background-color: var(--white);
    color: var(--dark);
}

.container .container-direita {
    flex: 2;
    position: relative;
}

.container .container-direita img {
    height: 100%;
}

.container-direita .container-img-info {
    bottom: 0;
    padding: 15px;
    position: absolute;
}

.container-direita .container-img-info h2 {
    font-size: 4.5rem;
    font-weight: 700;
    letter-spacing: var(--espacameto-letras);
    line-height: 70.875px;
    margin-bottom: 15px;
    text-align: left;
}

.container-direita .container-img-info p {
    font-size: 0.967rem;
    margin-bottom: 15px;
    max-width: 350px;
    line-height: 19.5px;
    width: 100%;
}

.container-direita .container-img-btn {
    align-items: center;
    display: flex;
    gap: 30px;
}

.negrito {
    font-weight: 600;
}

.negrito-500 {
    font-weight: 500;
}

.texto-red {
    color: var(--red);
}

.texto-white {
    color: var(--white);
}

@media screen and (max-width: 800px) {
    .container {
        flex-direction: column;
    }

    .container-direita .container-img-info h2 {
        font-size: var(--font-h3);
        line-height: normal;
    }

    .container-texto h2 {
        font-size: 3rem;
    }
}