@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Libre+Franklin:ital,wght@0,100..900;1,100..900&family=Source+Sans+3:ital,wght@0,200..900;1,200..900&display=swap");
/*! minireset.css v0.0.6 | MIT License | github.com/jgthms/minireset.css */
html,
body,
p,
ol,
ul,
li,
dl,
dt,
dd,
blockquote,
figure,
fieldset,
legend,
textarea,
pre,
iframe,
hr,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  padding: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: 100%;
  font-weight: normal;
}

ul {
  list-style: none;
}

button,
input,
select {
  margin: 0;
}

html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

img,
video {
  height: auto;
  max-width: 100%;
}

iframe {
  border: 0;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

td,
th {
  padding: 0;
}

textarea {
  resize: none;
}

html {
  scroll-behavior: smooth;
}

html,
body {
  height: 100%;
  width: 100%;
}

a {
  color: inherit;
  text-decoration: none;
}

/* Fontes */
/* Função para calcular rem */
/* Tamanhos tipográficos */
/* Mixin de tipografia para títulos */
/* Mixin de tipografia para textos */
.container {
  margin: 0 auto;
  max-width: 1200px;
  width: 100%;
}

.active {
  background: #ee2324;
  color: #ffffff !important;
}

.dropdown__toggle {
  font-family: "Libre Franklin", sans-serif;
  font-size: 0.875rem;
  color: #ffffff;
  font-weight: 500;
  letter-spacing: -0.45px;
  line-height: 1;
  padding: 7.5px;
  transition: 0.3s ease-in-out;
}
.dropdown__toggle:hover {
  color: #ee2324;
}

.menu-bugger {
  background: transparent;
  border: none;
  color: inherit;
  cursor: pointer;
  display: none;
  min-height: 28px;
  padding-left: 0;
  padding-right: 0;
  transition: 0.3 ease-in-out;
}
@media screen and (min-width: 768px) and (max-width: 1023px) {
  .menu-bugger {
    align-items: center;
    display: flex;
    justify-content: center;
  }
}
.menu-bugger:focus {
  outline: none;
}
.menu-bugger__bars {
  background: #ffffff;
  display: block;
  height: 4px;
  position: relative;
  transition: 0.3s ease-in-out;
  width: 34px;
}
.menu-bugger__bars::before, .menu-bugger__bars::after {
  background: #ffffff;
  content: "";
  display: block;
  height: 100%;
  left: 0;
  position: absolute;
  transition: 0.3s ease-in-out;
  width: 100%;
}
.menu-bugger__bars::before {
  transform: translate(0, -12px);
}
.menu-bugger__bars::after {
  transform: translate(0, 12px);
}

.menu-open .menu-bugger__bars {
  background: transparent;
}
.menu-open .menu-bugger__bars::before {
  transform: rotate(45deg);
}
.menu-open .menu-bugger__bars::after {
  transform: rotate(-45deg);
}

.header {
  background-color: paleturquoise;
  align-items: center;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  padding: 15px;
  position: absolute;
  width: 100%;
  z-index: 99999;
}
.header__logo-wrapper {
  align-items: center;
  display: flex;
  justify-content: center;
  gap: 1rem;
}
.header__dropdown {
  min-width: 150px;
  position: relative;
}

.dropdown__toggle {
  display: inline-block;
  text-transform: uppercase;
  width: 100%;
}
.dropdown__list {
  background-color: lightblue;
  background-color: #ffffff;
  display: none;
  position: absolute;
  width: 100%;
  z-index: 2;
}
.dropdown__list-item {
  font-family: "Libre Franklin", sans-serif;
  font-size: 0.875rem;
  color: #343a40;
  display: inline-block;
  font-weight: 500;
  padding: 5px 10px;
  text-transform: uppercase;
  transition: 0.3s ease-in-out;
  width: 100%;
}
.dropdown__list-item:hover {
  background-color: #ee2324;
  color: #ffffff;
}

.open-dropdown {
  display: block;
}

/*# sourceMappingURL=main.css.map */
