@use "../../global/typography";
@use "../../global/colors";
@use "../../components/buttons"as *;
@use "../../util/queries";
@use "../../global/mixins";

.article__bg {

    @include mixins.display-flex(center, center);
    background-repeat: no-repeat;
    background-size  : cover;
    color            : map-get($map: colors.$color-palette, $key: pure-white);
    flex-direction   : column;
    min-height       : 380px;
    width            : 100%;

    @include queries.devices-t-and-m() {
        height: auto;
    }

    h2 {
        @include typography.typography-title(38);
        font-weight   : 500;
        margin-bottom : 8px;
        text-transform: uppercase;
    }

    p {
        @include typography.typography-text(14);
        margin-bottom: 14px;
    }

    a {
        @extend %button-default;
        @extend %button-red;
    }
}

#take-there {
    background         : linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url("../../../../assets/images/take-there.jpg");
    background-position: center;

}

#culture {
    background         : linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url("../../../../assets/images/take-there.jpg");
    background-position: center;

}

#mapa {
    background         : linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url("../../../../assets/images/take-there.jpg");
    background-position: 10% 90%;

}