@use "../../global/mixins";
@use "../../global/colors";
@use "../../global/typography";
@use "../../components/buttons"as *;
@use "../../util/queries";

.reviews {
    @include mixins.display-grid(repeat(3, 1fr));
    gap               : 1rem;
    grid-template-rows: 220px;
    padding           : 0 1rem;

    @include queries.devices-t-and-m() {
        grid-template-columns: 1fr;
        grid-template-rows   : auto;
        padding              : 0;
    }

    &__item {

        position: relative;

        &:nth-child(2n) {
            background: map-get($map: colors.$color-palette, $key: pure-white);
            color     : map-get($map: colors.$color-palette, $key: alert-red);

            h2 {
                font-weight   : 600;
                text-transform: uppercase;
            }
        }

        &:nth-child(2n+1) {

            h2 {
                color: map-get($map: colors.$color-palette, $key: pure-white);
            }
        }

        &-image {
            display   : block;
            height    : 100%;
            object-fit: cover;
            width     : 100%;

        }

        &-desc {
            background-color: rgba($color: #000000, $alpha: 0.4);
            height          : 100%;
            inset           : 0;
            padding         : 1rem;
            position        : absolute;
            width           : 100%;
        }

        &-comment {
            @include mixins.display-flex(start, center);
            flex-direction: column;
            height        : 100%;
            padding       : 1rem;

            p {
                @include typography.typography-text(18);
                @include mixins.display-flex(center, center);
                font-weight: 500;
                gap        : 8px;
                position   : relative;

                &::before {
                    background: map-get($map: colors.$color-palette, $key: alert-red);
                    content   : "";
                    display   : block;
                    height    : 2px;
                    width     : 16px;
                }
            }
        }
    }

    &__title {
        @include typography.typography-title(28);
        font-weight   : 500;
        letter-spacing: -0.45px;
        margin-bottom : 8px;
    }

    &__link {
        @extend %button-default;
        @extend %button-red;
        bottom  : 20px;
        position: absolute;
    }
}