.hotel-container {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 45px;
    width: 100%;
}

.hotel-informacoes {
    color: var(--red);
    display: flex;
    gap: 10px;
    flex-direction: column;
    flex: 1;
    padding: 15px;
}

.hotel-horario {
    display: flex;
    flex-direction: column;
}

.hotel-horario span {
    font-size: 0.937rem;
    font-weight: 500;
}

.hotel-horario time {
    font-size: 1.5rem;
    font-weight: 600;
    line-height: 19.5px;
    letter-spacing: var(--espacameto-letras);
    margin-bottom: 7.5px;
}

.hotel-informacoes a {
    color: inherit;
    font-size: 0.937rem;
    font-weight: 500;
    line-height: 20px;
    text-decoration: underline;
}

.hotel-informacoes h2 {
    font-size: 5.6rem;
    font-weight: 600;
    letter-spacing: var(--espacameto-letras);
    margin: 10px 0 7px;
}

.hotel-informacoes .hotel-descricao {
    font-size: 0.9rem;
    font-weight: 500;
}

.hotel-imagem {
    flex: 2;
}

.hotel-imagem img {
    height: 100%;
}

.hotel-avaliacoes {
    align-items: center;
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
    padding: 15px;
    justify-content: space-around;
    margin-bottom: 45px;
}

.avaliacao-item {
    flex: 1 0 300px;
}

.avaliacao-item .avalicao-titulo {
    color: var(--red);
    font-size: 2.187rem;
    font-weight: 700;
    letter-spacing: var(--espacameto-letras);
    line-height: 34.12px;
    margin-bottom: 7px;
    text-align: left;
}

.avaliacao-item .avaliacao-autor {
    align-items: center;
    color: var(--red);
    display: flex;
    font-size: 1.125rem;
    font-weight: 500;
    letter-spacing: var(--espacameto-letras);
    line-height: 24.375px;
    text-align: left;
}

.avaliacao-item .avaliacao-autor::before {
    background-color: var(--red);
    content: "";
    display: inline-block;
    height: 2px;
    margin-right: 5px;
    width: 15px;
}

.avaliacao-bg {
    align-items: flex-start;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    display: flex;
    flex-direction: column;
    height: 236px;
    justify-content: space-between;
    padding: 15px;
}

.avaliacao-bg:nth-child(2) {
    background-image: url("../../assets/img/avaliacao-img-01.jpg");
}

.avaliacao-bg:nth-child(3) {
    background-image: url("../../assets/img/avaliacao-img-02.jpg");
}

.avaliacao-bg h3 {
    color: var(--white);
    font-size: var(--font-h3);
    font-weight: 600;
    letter-spacing: var(--espacameto-letras);
    line-height: 34px;
    margin-bottom: 7.5px;
    text-align: left;
}

@media screen and (max-width: 800px) {
    .hotel-container {
        flex-direction: column;
    }

    .hotel-informacoes h2 {
        font-size: 3.5rem;
    }
}