.agenda {
    background: url("../../assets/img/maldives-agenda.jpg") no-repeat center;
    background-size: cover;
    background-attachment: fixed;
    height: 60vh;
}

.agenda-titulo {
    color: var(--red);
    font-size: 3.5rem;
    font-weight: 700;
    left: 15px;
    letter-spacing: -0.45;
    margin-top: 45px;
    padding: 0 30px;
    text-align: left;
}

.container-agenda {
    align-items: center;
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
    justify-content: space-between;
    margin: 45px 0;
    padding: 0 2%;
}

.agenda-hotel {
    flex: 1 1 350px;
}

@media screen and (max-width: 800px) {
}