.degustacao-titulo {
    color: var(--red);
    font-size: 5.75rem;
    font-weight: 700;
    letter-spacing: var(--espacameto-letras);
    line-height: 92px;
    margin-bottom: 45px;
    padding-left: 15px;
    text-align: left;
}

.degustacao-item {
    display: flex;
    flex-wrap: wrap;
    height: 350px;
    margin: 45px 0;
    overflow: hidden;
    width: 100%;
}

.degustacao-item:nth-child(odd) {
    flex-direction: row-reverse;
}

.degustacao-texto {
    flex: 1;
    padding: 15px;
}

.degustacao-texto h2 {
    color: var(--red);
    font-size: 3rem;
    font-weight: var(--font-negrito);
    letter-spacing: var(--espacameto-letras);
    line-height: 48.75px;
    margin-bottom: 7.5px;
    text-align: left;
}

.degustacao-texto p {
    color: var(--red);
    font-size: 1.187rem;
    letter-spacing: var(--espacameto-letras);
    line-height: 19.5px;
    margin-bottom: 15px;
    text-align: left;
}

.degustacao-img {
    flex: 2;
}

.degustacao-img img {
    height: 100%;
    width: 100%;
}

@media screen and (max-width: 800px) {

    .degustacao-titulo {
        font-size: var(--font-small);
        line-height: normal;
    }

    .degustacao-item {
        flex-direction: column;
        height: auto;
        overflow: auto;
    }

    .degustacao-item:nth-child(odd) {
        flex-direction: column;
    }
}