.footer {
    background-color: var(--red);
    padding: 30px 3px;
}

.container-footer {
    margin: 0 auto;
    max-width: 1000px;
    text-align: center;
    width: 100%;
}

.footer-menu {
    align-items: center;
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    justify-content: center;
    margin-bottom: 7.5px;
}

.footer-menu a {
    color: var(--white);
    font-size: 0.8rem;
    font-weight: 600;
    text-transform: uppercase;
}

.container-footer p {
    color: var(--white);
    font-size: 0.8rem;
}