.header {
    align-items: center;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 15px;
    position: absolute;
    z-index: 4;
    width: 100%;
}

.header-menu {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;
}

.header-menu .header-nav ul {
    align-items: center;
    display: flex;
    flex-wrap: wrap;
}

.dropdown {
    display: inline-block;
    min-width: 150px;
    position: relative;
}

.dropdown-content {
    background-color: var(--white);
    display: none;
    min-width: 100px;
    position: absolute;
    z-index: 1;
}

.dropdown-content a {
    color: var(--dark);
    display: block;
    text-align: center;
    padding: 3px 10px;
}

.dropdown-content a:hover {
    background-color: var(--red);
    color: var(--dark);
}

.dropdown:hover .dropdown-content {
    display: block;
}

.header .menu-mobile {
    display: none;
    float: right;
    padding: 5px;
}

.header .menu-mobile .line,
.header .menu-mobile .line1,
.header .menu-mobile .line2 {
    background-color: var(--white);
    border-radius: 4px;
    height: 4px;
    width: 28px;
}

.header .menu-mobile .line1 {
    margin: 5px 0;
}

@media screen and (max-width: 800px) {
    .header-menu {
        display: none;
    }

    .header .menu-mobile {
        display: block;
    }
}