.hotel-container {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 45px;
    width: 100%;
}

.hotel-informacoes {
    color: var(--red);
    display: flex;
    gap: 10px;
    flex-direction: column;
    flex: 1;
    padding: 15px;
}

.hotel-horario {
    display: flex;
    flex-direction: column;
}

.hotel-horario time {
    font-size: 1.6rem;
    line-height: 20px;
    margin-bottom: 10px;
}

.hotel-informacoes a {
    color: inherit;
    line-height: 20px;
    text-decoration: underline;
}

.hotel-informacoes h2 {
    font-size: 5.75rem;
    margin: 15px 0 7px;
}

.hotel-imagem {
    flex: 2;
}

.hotel-imagem img {
    height: 100%;
}

.hotel-avaliacoes {
    align-items: center;
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    padding: 15px;
    justify-content: space-around;
    margin-bottom: 45px;
}

.avaliacao-item {
    flex: 1 0 320px;
    background-color: darkgrey;
}

.avaliacao-item img {
    height: 236px;
    width: 100%;
}

@media screen and (max-width: 800px) {
    .hotel-container {
        flex-direction: column;
    }

    .hotel-informacoes h2 {
        font-size: var(--font-small);
    }
}