.introducao {
    background-image: url("../../assets/img/the-standard-cpcreatives148.webp");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    height: 100vh;
    position: relative;
}

.introducao h1 {
    bottom: 0;
    color: var(--white);
    font-size: 7.625rem;
    font-weight: 700;
    left: 15px;
    letter-spacing: -0.45;
    position: absolute;
    text-align: left;
}

.introducao aside {
    display: flex;
    flex-direction: column;
    height: 100%;
    justify-content: center;
    right: 15px;
    position: fixed;
    text-align: right;
    z-index: 2;
}

.introducao-botao {
    background-color: var(--red);
    border-radius: 50%;
    border: 1px solid var(--white);
    bottom: 5px;
    font-size: 0.95rem;
    height: 75px;
    letter-spacing: var(--espacamento-letras);
    line-height: 17px;
    padding: 20px 10px;
    position: fixed;
    right: 15px;
    transition: .3s;
    text-align: center;
    width: 75px;
    z-index: 5;
}

.introducao-botao a {
    color: var(--white);
    font-weight: 500;
}

.introducao-botao:hover {
    background-color: rgba(238, 35, 35, 0.742);
}

@media screen and (max-width: 800px) {
    .introducao h1 {
        font-size: var(--font-small);
    }

    aside ul {
        display: none;
    }
}