.container-localizacao {
    align-items: center;
    display: flex;
    flex-direction: column;
    height: 380px;
    justify-content: center;
    margin-bottom: 45px;
    padding: 0 2%;
    width: 100%;
}

.localizacao-bg {
    background: url("../../assets/img/seaplane.jpg") no-repeat center;
    background-size: cover;
}

.localizaca-bg-mapa {
    background: url("../../assets/img/property-maldives-resort-map.jpg") no-repeat center;
    background-size: cover;
}

.container-localizacao h2 {
    font-size: 2.35rem;
    font-weight: 600;
    letter-spacing: var(--espacameto-letras);
    line-height: 39px;
    margin-bottom: 7.5px;
    text-align: center;
}

.container-localizacao p {
    font-size: 0.937rem;
    letter-spacing: var(--espacameto-letras);
    line-height: 19px;
    margin-bottom: 15px;
    text-align: center;
}

.localizacao-info {
    border-top: 1px solid #dee2e6 !important;
}

.localizacao-info .localizacao-contato {
    border-bottom: 1px solid #dee2e6 !important;
    padding: 15px;
    text-align: center;
}

.localizacao-contato h2 {
    color: var(--dark);
    font-size: 0.9rem;
    font-weight: 700;
    letter-spacing: var(--espacameto-letras);
    line-height: 15px;
    margin-bottom: 7.5px;
    text-transform: uppercase;
}

.localizacao-contato .contato-email {
    margin-bottom: 7.5px;
}

.localizacao-contato .contato-email a {
    color: var(--dark);
    display: block;
    font-size: 0.9rem;
    font-weight: 500;
    letter-spacing: var(--espacameto-letras);
    line-height: 19.5px;
    text-decoration: underline;
}

.localizacao-contato .contato-redes-sociais a {
    color: var(--red);
    transition: .3s;
}

.localizacao-contato .contato-redes-sociais a i {
    transition: .3s;
}

.localizacao-contato .contato-redes-sociais a:hover i {
    transform: scale(1.2);
}

.localizacao-formulario {
    margin: 0 auto;
    max-width: 1000px;
    padding: 15px 4%;
    width: 100%;
}

.localizacao-formulario h3 {
    font-size: 1.5rem;
    font-weight: 700;
    letter-spacing: var(--espacameto-letras);
    line-height: 35px;
    margin-bottom: 7.5px;
    text-align: left;
    text-transform: capitalize;
}

.localizacao-formulario p {
    color: var(--dark);
    font-size: 0.8rem;
    font-weight: 600;
    letter-spacing: var(--espacameto-letras);
    line-height: 19.5px;
    margin-bottom: 15px;
    text-align: left;
}

.formulario-item {
    align-items: flex-start;
    display: flex;
    flex-wrap: wrap;
    gap: 15px;
    margin-bottom: 15px;
}

.formulario-item input,
.formulario-item select {
    background-color: var(--white);
    border: 0;
    border-bottom: 1px solid var(--red);
    color: var(--dark);
    font-size: 0.9rem;
    font-weight: 500;
    flex: 1 0 200px;
    letter-spacing: var(--espacameto-letras);
    line-height: 20px;
    outline: none;
    padding: 5px 11px 5px 0px;
}

.formulario-item select#paises {
    /* flex-basis: 250px; */
}

.formulario-item select option {
    font-size: 0.9rem;
    word-break: break-all;
}

.formulario-termos:last-of-type {
    margin-bottom: 15px;
}

.formulario-termos label {
    font-size: 0.8rem;
    font-weight: 600;
    margin-bottom: 7.5px;
}

@media screen and (max-width: 800px) {}