.pagina-bg {
    height: 100vh;
    position: relative;
}

.acontecimentos {
    background: url("../../assets/img/acontecimentos.jpg") no-repeat center;
    background-size: cover;
}

.especial {
    background: url("../../assets/img/especial-bg.jpg") no-repeat center;
    background-size: cover;
}

.cultura {
    background: url("../../assets/img/cultura.jpg") no-repeat center;
    background-size: cover;
}