.residencias {
    background: url("../../assets/img/residencias.jpg") no-repeat center;
    background-size: cover;
    height: 100vh;
    width: 100%;
}

#residencias .header-nav a:hover {
    color: var(--black);
}

.residencias-descricao {
    align-items: center;
    border-bottom: 1px solid var(--red);
    display: flex;
    flex-direction: column;
    text-align: center;
    padding: 0 2%;
    width: 100%;
}

.residencias-descricao img {
    margin: 45px 0;
}

.residencias-descricao p,
.residencia-item p,
.residencias-paragrafo p {
    color: var(--red);
    letter-spacing: var(--espacamento-letras);
    line-height: 19.5px;
}

.residencias-descricao p {
    font-weight: 500;
    font-size: 0.9rem;
    margin-bottom: 45px;
    padding: 0 115px;
}

.imagens-residencias {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    padding: 45px 20px;
}

.residencia-item {
    align-items: center;
    display: flex;
    flex-direction: column;
    flex: 1;
}

.residencia-item figure {
    align-items: center;
    display: flex;
    justify-content: center;
    position: relative;
}

.residencia-item figcaption {
    color: var(--white);
    font-size: 4.75rem;
    font-weight: 700;
    letter-spacing: var(-2.73px);
    line-height: 92.125px;
    position: absolute;
    text-transform: uppercase;
    text-align: center;
}

.residencia-item p {
    flex: 1;
    font-weight: 600;
    font-size: 0.8rem;
    margin: 15px 0;
    text-align: center;
}

.residencia-item a {
    display: inline-block;
    width: 100px;
}

.residencias-paragrafo {
    margin: 45px 0;
    padding: 0 2%;
}

.residencias-paragrafo p {
    font-size: 0.6rem;
    font-weight: 600;
    margin-bottom: 10px;
}

@media screen and (max-width: 800px) {
    .residencias {
        background-image: url("../../assets/img/residencias-mobile.jpg");
    }

    .residencias-descricao p {
        padding: 0;
    }

    .imagens-residencias {
        flex-direction: column;
    }

    .residencia-item figcaption {
        font-size: 2.75rem;
        line-height: normal;
    }
}