@use "./../global/typography";
@use "./../global/colors";
@use "./../global/mixins";
@use "./../global/placeholders"as *;
@use "./../util/queries";

.header {
    background-color: paleturquoise;
    @include mixins.display-flex(center, space-between);
    padding  : 15px;
    position : absolute;
    width    : 100%;
    z-index  : 99999;

    &__logo-wrapper {
        @include mixins.display-flex(center, center);
    }

    &__dropdown {
        min-width: 150px;
        position : relative;

        @include queries.devices-t-and-m() {
            display: none;
        }
    }

    &__navbar {

        background-color: darkblue;

        &-list {
            @include mixins.display-flex(center, space-between);
        }

        &-item {
            @extend %links;
            font-weight   : 500;
            text-transform: uppercase;
        }

        @include queries.devices-t-and-m() {
            display: none;
        }

    }
}

.dropdown {
    &__toggle {
        @extend %links;
        display       : inline-block;
        text-transform: uppercase;
        width         : 100%;
    }

    &__list {
        background-color: lightblue;
        background-color: map-get($map: colors.$color-palette, $key: pure-white);
        display         : none;
        position        : absolute;
        width           : 100%;
        z-index         : 2;

        &-item {
            @include typography.typography-title(14);
            color         : map-get($map: colors.$color-palette, $key: midnight-dark);
            display       : inline-block;
            font-weight   : 500;
            padding       : 5px 10px;
            text-transform: uppercase;
            transition    : .3s ease-in-out;
            width         : 100%;

            &:hover {
                background-color: map-get($map: colors.$color-palette, $key: alert-red);
                color           : map-get($map: colors.$color-palette, $key: pure-white);
            }
        }
    }
}

.open-dropdown {
    display: block;
}