@use "../global/mixins";
@use "../global/colors";
@use "../global/typography";
@use "../components/buttons"as *;
@use "../util/queries";
@use "../animations/animations";

.sidemenu-section {
    @include mixins.display-grid(1fr 2fr);
    margin-bottom: 2rem;

    @include queries.devices-t-and-m() {
        grid-template-columns: 1fr;
    }

    &__menu {
        color: map-get($map: colors.$color-palette, $key: pure-white);
    }

    &__title {
        @include typography.typography-title(92);
        font-weight   : 600;
        letter-spacing: -0.45px;
        margin-bottom : 8px;
        padding       : 0 1rem;

        @include queries.devices-t-and-m() {
            @include typography.typography-title(64);
        }
    }

    &__desc {
        @include typography.typography-text(14);
        letter-spacing: -0.45px;
        margin-bottom : 2rem;
        padding       : 0 1rem;
    }

    &__list {
        @include mixins.display-flex(start, space-between);
        flex-direction: column;

        li {
            border: 1px solid transparent;
            width : 100%;

            a {
                @include mixins.display-flex(center, space-between);
                @include typography.typography-text(24);
                font-weight: 600;
                padding    : 6px 1rem;
                transition : .3s ease-in-out;
                width      : 100%;
            }
        }
    }

    &__image {
        min-height: 350px;
        position  : relative;
    }
}

.sidemenu__image {
    display : none;
    inset   : 0;
    position: absolute;
    @include animations.fadeEffect();

    img {
        display   : block;
        height    : 100%;
        object-fit: cover;
        position  : relative;
        width     : 100%;
    }
}

.sidemenu__image-desc {
    bottom  : 0;
    padding : 1rem;
    position: absolute;
    width   : 100%;
    z-index : 9999;

    p {
        @include typography.typography-text(18);
        color        : map-get($map: colors.$color-palette, $key: pure-white);
        font-weight  : 500;
        margin-bottom: 10px;
    }

    a {
        @extend %button-default;
        @extend %button-red;
    }
}

.tabcontent_active {
    display: block;
}

.sidemenu-active {
    background-color: map-get($map: colors.$color-palette, $key: pure-white);
    color           : map-get($map: colors.$color-palette, $key: alert-red);
}

.spa-button-active {
    // background-color: map-get($map: colors.$color-palette, $key: sun-yellow);
    // color           : map-get($map: colors.$color-palette, $key: pure-white);
    background-color: pink;
}